<%= render "layouts/welcome"%>
<%= stylesheet_link_tag 'listing', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="w-full">
 

  <% if notice.present? %>
  <div class="rounded-md bg-green-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800"><%= notice %></p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="rounded-md bg-green-50 p-4 custom_notification hidden">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800">Record updated successfully</p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>




<div class="px-4 sm:px-6 lg:px-8 ">
  <div class="sm:flex sm:items-center header_admin">
    <div class="sm:flex-auto">
      <div class="flex gap-[20px] w-full items-center">
        <h2 class="text-xl font-semibold text-gray-900">Car Request lists</h2>
        </div>
      
      <p class="mt-2 text-sm text-gray-700">A list of all request vehicles.</p>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Year</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Make</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Model</th>

                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">View URL</th>

                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>

                <% if current_user.role == "admin" %>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">By</th>
              <% end %>
              <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Actions</th>

          
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                <% @buyer_listings&.each do |car| %>
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= "#{car.min_year}-#{car.max_year} #{car.make} #{car.model}" %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= "#{car.min_year}-#{car.max_year}" %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= car.make %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= car.model %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 flex gap-[5px]"><%= "https://export.postyourcars.com/buyer_listings/#{car.slug}" %><span style="cursor: pointer" onclick="copyText('<%= car.slug%>')"><svg style="width: 15px" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 467 512.22"><path fill-rule="nonzero" d="M131.07 372.11c.37 1 .57 2.08.57 3.2 0 1.13-.2 2.21-.57 3.21v75.91c0 10.74 4.41 20.53 11.5 27.62s16.87 11.49 27.62 11.49h239.02c10.75 0 20.53-4.4 27.62-11.49s11.49-16.88 11.49-27.62V152.42c0-10.55-4.21-20.15-11.02-27.18l-.47-.43c-7.09-7.09-16.87-11.5-27.62-11.5H170.19c-10.75 0-20.53 4.41-27.62 11.5s-11.5 16.87-11.5 27.61v219.69zm-18.67 12.54H57.23c-15.82 0-30.1-6.58-40.45-17.11C6.41 356.97 0 342.4 0 326.52V57.79c0-15.86 6.5-30.3 16.97-40.78l.04-.04C27.51 6.49 41.94 0 57.79 0h243.63c15.87 0 30.3 6.51 40.77 16.98l.03.03c10.48 10.48 16.99 24.93 16.99 40.78v36.85h50c15.9 0 30.36 6.5 40.82 16.96l.54.58c10.15 10.44 16.43 24.66 16.43 40.24v302.01c0 15.9-6.5 30.36-16.96 40.82-10.47 10.47-24.93 16.97-40.83 16.97H170.19c-15.9 0-30.35-6.5-40.82-16.97-10.47-10.46-16.97-24.92-16.97-40.82v-69.78zM340.54 94.64V57.79c0-10.74-4.41-20.53-11.5-27.63-7.09-7.08-16.86-11.48-27.62-11.48H57.79c-10.78 0-20.56 4.38-27.62 11.45l-.04.04c-7.06 7.06-11.45 16.84-11.45 27.62v268.73c0 10.86 4.34 20.79 11.38 27.97 6.95 7.07 16.54 11.49 27.17 11.49h55.17V152.42c0-15.9 6.5-30.35 16.97-40.82 10.47-10.47 24.92-16.96 40.82-16.96h170.35z"></path></svg></span></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= car.created_at.strftime("%B %e, %Y") %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= car.user.name %></td>
                    

                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                        <div class="icons" style="display: flex; gap: 8px">
                            <%= link_to "/buyer_listings/#{car.slug}", class: "text-black hover:text-black",target: "_blank" do %>
                                <i class="fa-solid fa-eye"></i>
                            <% end %>
                            <%= button_to buyer_listing_path(car.id), method: :delete,data: {confirm: "Are you sure to delete this car listing?"}, class: "text-black hover:text-black" do %>
                                <i class="fa-solid fa-trash"></i>
                            <% end %>

                            <div class="swith-button bg-white ml-2">
                                <label class="relative inline-flex items-center cursor-pointer">
                                <input type="checkbox" value="<%= car.id %>" class=" show_only_asking_price sr-only peer" <%= car.published ? "checked" : '' %> / >
                                <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300 hidden">Checked toggle</span>
                                </label>
                            </div>

                            </div>
                        
                        </td>
                    </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>

$(".show_only_asking_price").click(function () {
  $('.custom_notification').addClass('hidden')


    let data = {id: $(this).val(),publish: $(this).is(':checked') }
    console.log('data',data)

    $.ajax({
        type: "post",
        data: data,
        url: "/publish_list",
        success: function(data) { 
            if(data.status === 200){
               $('.custom_notification').removeClass('hidden')
            }else{

            }
        }
    })
    
})

function copyText(slug){
  var copyText = "https://<%= request.host%>/buyer_listings/"+slug;
  navigator.clipboard.writeText(copyText)
}
</script>
