<div id="<%= dom_id buyer_listing %>" class="bg-white rounded-lg shadow p-6">
  <h2 class="text-2xl font-medium mb-6">Buyer Listing</h2>
  
  <div class="grid grid-cols-2 gap-x-8 gap-y-4">
    <div>
      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Year:</strong>
        <%= buyer_listing.year %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Make:</strong>
        <%= buyer_listing.make %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Model:</strong>
        <%= buyer_listing.model %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Trim:</strong>
        <%= buyer_listing.trim %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Mileage:</strong>
        <%= buyer_listing.mileage %>
      </p>
    </div>

    <div>
      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Exterior color:</strong>
        <%= buyer_listing.exterior_color %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Interior color:</strong>
        <%= buyer_listing.interior_color %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Shipping Method:</strong>
        <%= buyer_listing.transportation %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Departure:</strong>
        <%= buyer_listing.departure %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Payment term:</strong>
        <%= buyer_listing.payment_term %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Purchase price:</strong>
        <%= buyer_listing.purchase_price %>
      </p>
    </div>
 
