<div id="<%= dom_id buyer_listing %>" class="bg-white rounded-lg shadow p-6 mb-2 mt-5">
  <h2 class="text-2xl font-medium mb-6">Car Details</h2>
  
  <div class="grid grid-cols-2 gap-x-8 gap-y-4">
    <div>
      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Year:</strong>
        <%= buyer_listing.year %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Make:</strong>
        <%= buyer_listing.make %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Model:</strong>
        <%= buyer_listing.model %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Trim:</strong>
        <%= buyer_listing.trim %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Mileage:</strong>
        <%= buyer_listing.mileage %>
      </p>
    </div>

    <div>
      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Exterior color:</strong>
        <%= buyer_listing.exterior_color %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Interior color:</strong>
        <%= buyer_listing.interior_color %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Shipping Method:</strong>
        <%= buyer_listing.transportation %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Departure:</strong>
        <%= buyer_listing.departure %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Payment term:</strong>
        <%= buyer_listing.payment_term %>
      </p>

      <p class="mb-4">
        <strong class="block text-gray-600 mb-1">Purchase price:</strong>
        <%= buyer_listing.purchase_price %>
      </p>
    </div>

    </div>
 <div class="car_attachement">
    <h2 class="text-2xl font-medium mb-6 mt-5">Car Attachements</h2>

    <div class="images flex">
      <div>    
      <img class="car_image" width="600" src="<%= asset_url("no_car_image.jpeg") %>">
      </div>

      <div>    
      <img class="car_image" src="<%= asset_url("no_car_image.jpeg") %>">
      </div>

      <div>    
      <img class="car_image" src="<%= asset_url("no_car_image.jpeg") %>">
      </div>

    </div>

    <div class="offered_class mt-2">
    <b>Offered Price:</b>  $12,000
    </div>

  </div>

</div>


 

