<div id="<%= dom_id buyer_listing %>" class="bg-white rounded-lg shadow p-3 sm:p-6 mb-2 mt-4">
    <h2 class="text-xl sm:text-2xl font-semibold Car_Details mt-0 mb-4">Car Details</h2>
    <div class="grid grid-cols-2 gap-0 gap-sm-3">
        <div>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Year:</strong>
                <%= buyer_listing.min_year %> -
                    <%= buyer_listing.max_year %>
            </p>
            <p class="mb-md-4 mb-2 hidden"> <strong class="block text-dark mb-1">Max Year:</strong>
                <%= buyer_listing.max_year %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Make:</strong>
                <%= buyer_listing.make %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Model:</strong>
                <%= buyer_listing.model %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Trim:</strong>
                <%= buyer_listing.trim %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Mileage:</strong>
                <%= buyer_listing.mileage %>
            </p>
        </div>
        <div>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Exterior color:</strong>
                <%= buyer_listing.exterior_color %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Interior color:</strong>
                <%= buyer_listing.interior_color %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Shipping method:</strong>
                <%= buyer_listing.transportation %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Departure:</strong>
                <%= buyer_listing.departure %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Payment term:</strong>
                <%= buyer_listing.payment_term %>
            </p>
            <p class="mb-md-4 mb-2"> <strong class="block text-dark mb-1">Price:</strong> $
                <%= number_with_delimiter(buyer_listing.min_price) %> - $
                    <%= number_with_delimiter(buyer_listing.max_price) %>
            </p>
            <p class="mb-md-4 mb-2 hidden"> <strong class="block text-dark mb-1">Max price:</strong>
                <%= buyer_listing.max_price %>
            </p>
        </div>
    </div>
    <div class="seller_listings_main">
        <%= render "/partials/buyer_listings/seller_listings", buyer_listing: buyer_listing %>
    </div>
                                        
<script>
<% if current_user&.role == "seller" %>
    function carAttchmentModal() {
        document.getElementById('car_attachement_modal').classList.toggle('hidden')
    }
    // Get the drop zone element
    var dropZone = document.getElementById('drop_zone');
    // Get the file input element
    var fileInput = document.getElementById('file_upload');
    // Add event listeners for drag and drop
    dropZone.addEventListener('dragover', handleDragOver, false);
    dropZone.addEventListener('dragleave', handleDragLeave, false);
    dropZone.addEventListener('drop', handleDrop, false);
    // Add event listener for manual file selection
    fileInput.addEventListener('change', handleFileSelect, false);

    function handleDragOver(event) {
        event.preventDefault();
        dropZone.classList.add('border-blue-600');
    }

    function handleDragLeave(event) {
        event.preventDefault();
        dropZone.classList.remove('border-blue-600');
    }

    function handleDrop(event) {
        event.preventDefault();
        dropZone.classList.remove('border-blue-600');
        // Get the dropped files
        var files = event.dataTransfer.files;
        // Update the label text with the number of files dropped
        if (files.length === 1) {
            dropZone.querySelector('span').innerHTML = '1 file attached';
        }
        else {
            dropZone.querySelector('span').innerHTML = files.length + ' files attached';
        }
        // Add the files to the input element
        fileInput.files = files;
    }

    function handleFileSelect(event) {
        // Get the selected files
        var files = event.target.files;
        // Update the label text with the number of files selected
        if (files.length === 1) {
            dropZone.querySelector('span').innerHTML = '1 file attached';
        }
        else {
            dropZone.querySelector('span').innerHTML = files.length + ' files attached';
        }
    }
    $(".submit_car_attachment").click(function (e) {
        e.preventDefault();
        noError = true
        if (!$("#year").val()) {
            $(".year_required").removeClass("hidden")
            noError = false
        }

          if (!$("#mileage").val()) {
            $(".mileage_required").removeClass("hidden")
            noError = false
        }

         if (!$("#make").val()) {
            $(".make_required").removeClass("hidden")
            noError = false
        }

         if (!$("#model").val()) {
            $(".model_required").removeClass("hidden")
            noError = false
        }

         if (!$("#trim").val()) {
            $(".trim_required").removeClass("hidden")
            noError = false
        }
        
        else {
            $(".year_required").addClass("hidden")
        }
        if (!$("#offer_price").val()) {
            $(".offer_price_required").removeClass("hidden")
            noError = false
        }
        else {
            $(".offer_price_required").addClass("hidden")
        }
        if (!$("#interior_color").val()) {
            $(".interior_color_required").removeClass("hidden")
            noError = false
        }
        else {
            $(".interior_color_required").addClass("hidden")
        }
        if (!$("#exterior_color").val()) {
            $(".exterior_color_required").removeClass("hidden")
            noError = false
        }
        else {
            $(".exterior_color_required").addClass("hidden")
        }
        if (noError) {
            $("#car_attachment_form").submit();
        }
    })
<% end %>


    $(".show_overlay").click(function(e){
        // Prevents default behavior
        e.preventDefault();
        id = $(this).data("id");
        $(".overlay_"+id).toggle();
        $(".image_gallery_"+id).removeClass("hidden");
        // Adds href attribute to variable
        var imageLocation = $(this).attr("src");
        // Add the image src to $image
        $(".images_of_"+id).attr("src", imageLocation);
        // Fade in the overlay
        $(".overlay_"+id).fadeIn("slow");
    })
    
</script>